node_modules
npm-debug.log
dist
.git
.gitignore
.env.local
.env.*.local
.DS_Store
*.log
*.tgz
*.zip
.next
out
.nuxt
dist
.cache
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
